#container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'ft ft ft ft';
    margin: auto;
    background-color: rgb(124, 124, 124);

}

header {
    grid-area: hd;
    background-color: rgb(237, 146, 85);
}

#helasidan {
    background-color: rgb(177, 177, 177);
}

.navlankar {
    list-style-type: none;
    display: block;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    display: flex;
}

.navbar li{
font-size: 30px;
width: 300px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navlankar li.hv:hover{
    background-color: rgb(177, 177, 177);
}


.lank {
text-decoration: none;
color: #000;
}

.ikoner {
    width: 40px;
    height: 40px;
    margin: 10px;
    display: inline;
}

#ikonerbox {
    display: flex;
}

.logo {
    align-self: center;
    padding: 35px;
    font-size: 50px;
    
}

h1 {
    text-align: center;
    font-size: 150px;
}



#forstasidan {
    text-align: center;
    font-size: 50px;
}

button { 
    display:block;
   border-radius: 100px;
   font-size: 50px;
   margin: auto;
   padding: 10px 70px;
   background-color: aliceblue;
   border: 5px solid rgb(237, 146, 85);
}

button:hover {
    background-color: rgb(237, 146, 85);
}

.aktivitet:active {
    background-color: rgb(237, 146, 85);
}

main {
    height: 100vh;
}

#main2,
#main3 {
    height: 100vh;
    display: flex;
    
}


.sida2 {
    width: 50%;
    position: relative; 
    display: inline-block;
}

.andrasidan {
    font-size: 90px;
    text-align: center;
}

.visaalla {
    font-size: 50px;
}


img {
    max-width: 90%;
    height: auto;
    border-radius: 40px;

}

#bildrubrik1 {
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    position: relative; 
    bottom: 770px;
    padding: 5%;
   width: 80%;
}

    
#bildrubrik2 {
   font-size: 50px;
   background-color: rgb(255, 255, 255);
   border-radius: 40px;
   position: relative; 
   bottom: 800px;
   padding: 5%;
   width: 80%;
   

}

h3 { 
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 30px;
    position: relative;
    bottom: 820px;
    padding: 2%;
   width: 80%;

}

#bildtext1 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 40px;
    position: relative; 
    bottom: 370px;
    padding: 5%;
    width: 80%;
}

#bildtext2 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    border-radius: 40px;
    position: relative; 
   bottom: 310px;
   padding: 5%;
   width: 80%;
}



footer {
    height: 60vh;
    background-color: rgb(237, 146, 85);
    display: flex;
    justify-content: space-between;
    padding: 60px;
}


.footerrubrik {
    font-size: 50px;
}

a {
    font-size: 30px;
}

#loooga {
    align-self: center;
    font-size: 40px;
}





#html2 {
    background-color: rgb(255, 255, 255);
}

#html2section {
    background-color: rgb(179, 179, 179);
    padding: 50px;
}


#intresseanmälan {
    font-size: 70px;
 
}

#intresseanmälanknappar {

}




.aktivitet {
border-radius: 100px;
background-color: aliceblue;
border: 5px solid rgb(237, 146, 85);
}


p {
    font-size: 40px;
}

.uppgifter { 
    height: 60px;
    width: 600px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    margin: 10px;
    padding-left: 15px;
    border: 2.5px solid rgb(237, 146, 85);

}

#kontaktuppgifter {
    margin: 50px 10px 50px 10px;
}

#personnr {
    margin: 50px 10px 50px 10px;
}

#personnr select,
#personnr input {
    height: 60px;
    width: 290px;
    margin: 10px;
    padding-left: 15px;
    border-radius: 20px;
    font-size: 17px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 2.5px solid rgb(237, 146, 85);

}

label {
    font-size: 25px;
    margin-left: 10px;
}

#skicka {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}




@media screen and (max-width:600px) {


    nav {
        justify-content: center;
    }

    nav ul {
        display: block;
    }

    .logo {
        align-self: center;
        padding: 20px;
        font-size: 40px;
    }

    .navlankar {
    list-style-type: none;
    display: none;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    top: 0%;
    right: 0%;

    flex-direction: column;
    position: absolute;
    width: 50%;
    background-color: aliceblue;
    height: 50vh;

}

    h1 {
        font-size: 80px;
        text-align: center;
    }

   #forstasidan {
        font-size: 30px;
        text-align: center;
    }

    button { 
        border-radius: 100px;
        font-size: 35px;

     }
    
     .visaalla {
        border-radius: 100px;
        font-size: 25px;

     }

    .andrasidan {
        font-size: 50px;
    }

    .main2 {
        display: block;
    }


    footer {
        display: block;
        height: 70vh;
    }

    .hamburgare {
       /* border: 1px solid #000; */
       height: 30px;
       width: 45px;
       position: absolute;
       top: 20px;
       right: 20px;
    }

    .hamburgare div {
        border: 1.5px solid #000;
        margin: 6px;
    }


    #main2,
    #main3 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #bildtext1,
    #bildtext2 {
        display: none;
        
    }

    #bildrubrik1,
    #bildrubrik2 {
        display: none;
    }
    
    h3 {
        display: none;
    }


    .sida2 {
        width: 90%;
    }

    button {
        width: 80%;
        background-color:rgb(237, 146, 85); ;
    }

    img {
        margin-top: 30px;
    }

    #main2{
        margin-bottom: 150px;
    }


    #intresseanmälan {
        font-size: 50px;
     
    }

    .uppgifter { 
        height: 55px;
        width: 350px;
    }

    #personnr select,
    #personnr input {
        height: 50px;
        width: 150px;
        margin-bottom: 10px;
        margin-top: 10px;
    
    }


    #skicka {
        border-radius: 100px;
        font-size: 20px;
        padding: 20px;
        background-color: rgb(237, 146, 85);
    }

    p {
        font-size: 30px;
        margin-bottom: 50px;
        margin-top: 50px;

    }
    
    .aktivitet {
        margin: 30px;
        background-color: rgb(237, 146, 85);
        font-size: 25px;
    }
    

    label {
        font-size: 20px;
        margin-left: 10px;
    }

    .footerrubrik {
        font-size: 30px;
    }

    footer .ikoner {
        display: inline;

    }

    a {
        font-size: 30px;
    }
   
    .footertext {
        line-height: 0.2;
    }

    footer p {
        margin-bottom: 70px;
    }
    .active {
        display: flex;
        position:relative;
        top:25px;
    }
    


}